/src/cate
/*.txt

/preprocess/AutoPhrase

/datasets/covid/*

!/datasets/covid/covid.txt
!/datasets/covid/cleaned_text.txt
!/datasets/covid/wildlife.txt
!/datasets/covid/livestock.txt
!/datasets/covid/viral_protein.txt

!/datasets/covid/covid_data.zip
!/datasets/covid/res_wildlife.txt
!/datasets/covid/res_covid.txt
!/datasets/covid/res_livestock.txt
!/datasets/covid/res_viral_protein.txt

!/datasets/covid/res_wildlife_cleaned.txt
!/datasets/covid/res_covid_cleaned.txt
!/datasets/covid/res_livestock_cleaned.txt
!/datasets/covid/res_viral_protein_cleaned.txt

!/datasets/covid/seed.txt

# TODO: test iob
!/iob-test.txt

.DS_Store